body{
    position: relative;
    font-family: NotoSansKR,"맑은 고딕","Malgun Gothic","Apple Gothic",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #888;
    background: #f4f7fa;
    min-height: 100vh;
}

