@charset "UTF-8";
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.captialize {
  text-transform: capitalize;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.bold {
  --ionicon-stroke-width: 40px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #666;
  text-decoration: none;
}

img {
  display: block;
}

body {
  position: relative;
  font-family: NotoSansKR,"맑은 고딕","Malgun Gothic","Apple Gothic",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #888;
  background: #f4f7fa;
  min-height: 100vh;
}

.navigation {
  position: fixed;
  width: 265px;
  height: 100vh;
  background: #3f4d67;
  -webkit-box-shadow: 1px 0 20px 0 #3f4d67;
          box-shadow: 1px 0 20px 0 #3f4d67;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .navigation_header {
  height: 70px;
  border-bottom: 1px solid #545c6b;
}

.navigation .navigation_header .brand {
  padding: 10px 20px;
}

.navigation .navigation_header .brand > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation_header .brand > a .brand_title {
  display: inline-block;
  color: #d0d0d0;
  margin-left: 10px;
}

.navigation .navigation_body {
  height: calc( 100% - 70px);
  color: #fff;
}

.navigation .navigation_body > ul > li > a {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  color: #8a929c;
}

.navigation .navigation_body > ul > li > a + .sub_menu {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .navigation_body > ul > li > a.router-link-active {
  background: #212b3c;
  color: #fff;
}

.navigation .navigation_body > ul > li > a.active, .navigation .navigation_body > ul > li > a.expanded {
  background: #7da2a7;
  color: #fff;
}

.navigation .navigation_body > ul > li > a.active .fold_arrow, .navigation .navigation_body > ul > li > a.expanded .fold_arrow {
  color: #fff;
}

.navigation .navigation_body > ul > li > a.expanded + .sub_menu {
  display: block;
}

.navigation .navigation_body > ul > li > a.active + .sub_menu {
  display: block;
}

.navigation .navigation_body > ul > li .ion {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.navigation .navigation_body > ul > li > .sub_menu {
  background: #343a46;
}

.navigation .navigation_body > ul > li > .sub_menu > ul > li .router-link-active {
  color: #86ffff;
}

.navigation .navigation_body > ul > li > .sub_menu > ul > li > a {
  display: block;
  padding: 15px 0 15px 60px;
}

.ion {
  width: 25px;
  height: 25px;
  visibility: visible;
}

.page .content {
  width: calc(100% - 265px);
  margin-left: 265px;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page .content > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.page .content > header .logout {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page_view {
  min-height: calc(100vh - 70px);
  padding: 30px;
}

.page_view .page_header .page_title {
  font-size: 25px;
  color: #505050;
}

.page_view .page_header .page_path {
  margin-top: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row .col {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col.col-1 {
  width: 100%;
}

.row .col.col-2 {
  width: 50%;
}

.row .col.col-3 {
  width: 33.33333%;
}

.row .col.col-4 {
  width: 25%;
}

.row .col.col-5 {
  width: 20%;
}

.row .col.col-6 {
  width: 16.66667%;
}

.row .col.col-7 {
  width: 14.28571%;
}

.row .col.col-8 {
  width: 12.5%;
}

.row .col.col-9 {
  width: 11.11111%;
}

.row .col.col-10 {
  width: 10%;
}

.row .col.col-11 {
  width: 9.09091%;
}

.row .col.col-12 {
  width: 8.33333%;
}

.row .col .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  min-height: 200px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
          box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.row .col .card .card_header {
  min-height: 57px;
  padding: 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}

.row .col .card .card_header > h4 {
  position: relative;
  color: #505b6f;
}

.row .col .card .card_header > h4:after {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  display: inline-block;
  width: 4px;
  height: 20px;
  background: #84d8d1;
}

.row .col .card .card_body {
  width: 100%;
  padding: 20px 25px;
  font-size: 14px;
}

.row .col .card .card_body > .text {
  margin-bottom: 10px;
}

.row .col .card .card_body > .text a:hover {
  color: #000;
}

.auth_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

.auth_wrapper .auth_content {
  position: relative;
  width: 390px;
  padding: 15px;
  -webkit-animation: fadeIn 0.8s ease-in-out;
          animation: fadeIn 0.8s ease-in-out;
}

.auth_wrapper .auth_content .shape-circle {
  position: absolute;
  z-index: 10;
}

.auth_wrapper .auth_content .card {
  position: relative;
  z-index: 20;
  border-radius: 10px;
  background: #fff;
  background-clip: border-box;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
          box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.auth_wrapper .auth_content .card .content_body {
  padding: 30px 25px;
}

.auth_wrapper .auth_content .card .content_body h3 {
  font-size: 30px;
  color: #666;
}

.auth_wrapper .auth_content .card .content_body p {
  font-size: 13px;
}

.auth_wrapper .auth_content .card .content_body p > a {
  color: #333;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 80%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 0;
    background: #eac8c8;
  }
  10% {
    background: #eac8e9;
  }
  20% {
    background: #dbc8ea;
  }
  30% {
    background: #c8e9e7;
  }
  40% {
    background: #c8e9db;
  }
  50% {
    background: #c8d4e9;
  }
  60% {
    background: #d0c8ea;
  }
  70% {
    background: #c9c8e9;
  }
  80% {
    background: #dbe9c8;
  }
  90% {
    background: #e9e3c8;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 0;
    background: #eac8c8;
  }
  10% {
    background: #eac8e9;
  }
  20% {
    background: #dbc8ea;
  }
  30% {
    background: #c8e9e7;
  }
  40% {
    background: #c8e9db;
  }
  50% {
    background: #c8d4e9;
  }
  60% {
    background: #d0c8ea;
  }
  70% {
    background: #c9c8e9;
  }
  80% {
    background: #dbe9c8;
  }
  90% {
    background: #e9e3c8;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

.ui-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ui-input-group input[type='text'], .ui-input-group input[type='email'], .ui-input-group input[type='password'] {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f4f7fa;
  padding: 10px 20px;
  color: #495057;
}

.ui-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid transparent;
  background: #f2f2f2;
  color: #37474f;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
          box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}

.ui-btn:disabled {
  opacity: 0.4;
}

.ui-btn:not(:disabled) {
  cursor: pointer;
}

.ui-btn.btn-primary {
  color: #fff;
  background: #04a9f5;
  border: 1px solid #04a9f5;
}
