.input-group {
    display: flex;
    width: 100%;
    input[type='text'], input[type='email'] {
        display: block;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #e5e9ec;
        padding: 10px 20px;
        color: #495057;
    }
}