.ui-input-group {
    display: flex;
    width: 100%;
    input[type='text'], input[type='email'], input[type='password'] {
        display: block;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: $cpRadius;
        background-color: #f4f7fa;
        padding: 10px 20px;
        color: #495057;
    }
}

.ui-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid transparent;
    background: #ccc;
    margin-bottom:5px;
    color: #484848;
    vertical-align: middle;
    text-align: center;
    border-radius: $cpRadius;
    box-shadow: $cpShadow;
    transition: $layoutTransition;
    &:disabled{
        opacity: 0.4;
    }
    &:not(:disabled){
        cursor: pointer;
    }
    &:hover {
        filter: brightness(1.1)
    }
    &.icon-btn {
        width: 32px;
        height: 30px;
        padding: 2px 5px;
        color: #3f4d66;
  
    }
    &.btn-primary{
        color: #fff;
        background: #04a9f5;
        border: 1px solid #04a9f5;
    }
    &.btn-secondary{
        color: #fff;
        background: #ec9b68;
        border: 1px solid #ec9b68;
    }
    &.btn-info{
        color: #fff;
        background: #5ad4c9;
        border: 1px solid #5ad4c9;
    }
    &.btn-success{
        color: #fff;
        background: #6681ea;
        border: 1px solid #6681ea;
    }
    &.btn-warning{
        color: #fff;
        background: #e85b81;
        border: 1px solid #e85b81;
    }
    &.btn-error{
        color: #fff;
        background: #eabb2d;
        border: 1px solid #eabb2d;
    }
    &.btn-light{
        color: $defaultColor;
        background: #dadada;
        border: 1px solid #dadada;
    }
    &.btn-dark{
        color: #fff;
        background: #3f4d66;
        border: 1px solid #3f4d66;
    }

    
}

.ui-table{
    width: 100%;

    > table {
        width: 100%;
        border-collapse: separate;
        // border-collapse: collapse;
        // border-top: 1px solid $uiBorderColor;
        // border-bottom: 1px solid $uiBorderColor;
        thead {
            tr {
                th {
                    border: 1px solid $uiBorderColor;
                    color: $cardTitleColor;
                    font-weight: bold;
                    padding: 20px 15px;
                    text-align: center;
                    border-bottom: 0;
                    border-right: 0;
                    &:first-child {
                        border-radius: 10px 0 0 0;
                    }
                    &:last-child {
                        border-right: 1px solid $uiBorderColor;
                        border-radius: 0 10px 0 0;
                    }
                }
            }
        }
        tbody {
            tr {
                &.empty_col {
                    > td {
                        height: 30px;
                    }
                }
                &:nth-of-type(odd){
                    background-color: rgba(111,210,255,.05)
                }
                &:hover {
                    background-color: #e2edff;
                }
                td{
                    padding: 10px 15px;
                    border: 1px solid $uiBorderColor;
                    text-align: center;
                    border-bottom: 0;
                    border-right: 0;
                   
                    &:last-child {
                        border-right: 1px solid $uiBorderColor;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid $uiBorderColor;
                        &:first-child {
                            border-radius: 0 0 0 10px;
                        }
                        &:last-child {
                            border-radius: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

.ui-pagination {
    .page {
        display: flex;
        justify-content: center;
        > li {
            width: 30px;
            height: 30px;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px;
                line-height: 1.3;
                text-align: center;
                color: #aaa;
                border: 1px solid #e5e5e5;
                border-right: 0;
                * {
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                > a {
                    background: #e8e8e8;
                    color: #666;
                }
            }
            &.active {
                a {
                    background: #d4f7f4;
                    color: #666;
                }
            }
            &.disabled {
                > a {
                    background: #f1f1f1;
                    color: #ccc;
                    opacity: 0.8;
                    cursor: default;
                }
            }
            
            &:first-child {
                > a {
                    border-radius: 5px 0 0 5px;
                }
            }
            &:last-child {
                > a {
                    border-right: 1px solid #e5e5e5;
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
}

.ui-tab {
    > ul {
        display: flex;
        > li {
            
            &.active {
                > a {
                    border-radius: 5px 5px 0 0;
                    background: $pointColor;
                    color: #fff;
                }
            }
            > a {
                display: block;
                padding: 10px 20px;
                height: 100%;
            }
        }
    }
    > .tab_content {
        padding: 20px;
        background: $pointColor;
        color: #fff;
        // border: 2px solid $pointColor;
        min-height: 150px;
        .title {
            font-size: 18px;
        }
    }
}