.ui-btn{
    display: inline-block;
    min-width: 30px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid transparent;
    background: #ccc;
    margin-bottom:5px;
    color: #484848;
    vertical-align: middle;
    text-align: center;
    border-radius: $cpRadius;
    box-shadow: $cpShadow;
    transition: $layoutTransition;
    &:disabled{
        opacity: 0.4;
    }
    &:not(:disabled){
        cursor: pointer;
    }
    &:not(:disabled):hover {
        filter: brightness(1.1)
    }
    &.icon-btn {
        width: 32px;
        height: 30px;
        padding: 2px 5px;
        color: #3f4d66;
  
    }
    &.btn-primary{
        color: #fff;
        background: #04a9f5;
        // border: 1px solid #04a9f5;
    }
    &.btn-secondary{
        color: #fff;
        background: #ec9b68;
        // border: 1px solid #ec9b68;
    }
    &.btn-info{
        color: #fff;
        background: #5ad4c9;
        // border: 1px solid #5ad4c9;
    }
    &.btn-success{
        color: #fff;
        background: #6681ea;
        // border: 1px solid #6681ea;
    }
    &.btn-warning{
        color: #fff;
        background: #e85b81;
        // border: 1px solid #e85b81;
    }
    &.btn-error{
        color: #fff;
        background: #eabb2d;
        // border: 1px solid #eabb2d;
    }
    &.btn-light{
        color: $defaultColor;
        background: #dadada;
        // border: 1px solid #dadada;
    }
    &.btn-dark{
        color: #fff;
        background: #3f4d66;
        // border: 1px solid #3f4d66;
    }

    
}

.ui-table{
    width: 100%;

    > table {
        width: 100%;
        border-collapse: separate;
        // border-collapse: collapse;
        // border-top: 1px solid $uiBorderColor;
        // border-bottom: 1px solid $uiBorderColor;
        thead {
            tr {
                th {
                    border: 1px solid $uiBorderColor;
                    color: $cardTitleColor;
                    font-weight: bold;
                    padding: 20px 15px;
                    text-align: center;
                    border-bottom: 0;
                    border-right: 0;
                    &:first-child {
                        border-radius: 10px 0 0 0;
                    }
                    &:last-child {
                        border-right: 1px solid $uiBorderColor;
                        border-radius: 0 10px 0 0;
                    }
                }
            }
        }
        tbody {
            tr {
                &.empty_col {
                    > td {
                        height: 30px;
                    }
                }
                &:nth-of-type(odd){
                    background-color: rgba(111,210,255,.05)
                }
                &:hover {
                    background-color: #e2edff;
                }
                td{
                    padding: 10px 15px;
                    border: 1px solid $uiBorderColor;
                    text-align: center;
                    border-bottom: 0;
                    border-right: 0;
                   
                    &:last-child {
                        border-right: 1px solid $uiBorderColor;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid $uiBorderColor;
                        &:first-child {
                            border-radius: 0 0 0 10px;
                        }
                        &:last-child {
                            border-radius: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

.ui-pagination {
    .page {
        display: flex;
        justify-content: center;
        > li {
            width: 30px;
            height: 30px;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px;
                line-height: 1.3;
                text-align: center;
                color: #aaa;
                border: 1px solid #e5e5e5;
                border-right: 0;
                * {
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                > a {
                    background: #e8e8e8;
                    color: #666;
                }
            }
            &.active {
                a {
                    background: #d4f7f4;
                    color: #666;
                }
            }
            &.disabled {
                > a {
                    background: #f1f1f1;
                    color: #ccc;
                    opacity: 0.8;
                    cursor: default;
                }
            }
            
            &:first-child {
                > a {
                    border-radius: 5px 0 0 5px;
                }
            }
            &:last-child {
                > a {
                    border-right: 1px solid #e5e5e5;
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
}

.ui-tab {
    > ul {
        display: flex;
        > li {
            
            &.active {
                > a {
                    border-radius: 5px 5px 0 0;
                    background: $pointColor;
                    color: #fff;
                }
            }
            > a {
                display: block;
                padding: 10px 20px;
                height: 100%;
            }
        }
    }
    > .tab_content {
        padding: 20px;
        background: $pointColor;
        color: #fff;
        // border: 2px solid $pointColor;
        min-height: 150px;
        .title {
            font-size: 18px;
        }
    }
}

.ui-radio{
    display: inline-block;
    > input[type='radio'] {
        @include ui_input;

        & + label {
            position: relative;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 10px 10px 30px;

            $radioSize: 20px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                display: inline-block;
                width: $radioSize;
                height: $radioSize;
                border-radius: 50%;
                background: #f7f7f7;
                border: 1px solid $uiBorderColor;
                transition: all 0.2s linear;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                display: inline-block;
                width: $radioSize;
                height: $radioSize;
                border-radius: 50%;
                transform: scale(0);
                transition: all 0.2s linear;
            }
            span{
                display: inline-block;
            }
        }
        &:disabled + label {
            opacity: 0.4;
            pointer-events: none;
        }
        &:not(:disabled):hover + label{
            &:before {
                border: 1px solid #999;
            }
        }
        &:checked + label {
            &:before {
                border: 1px solid $pointColor;
            }
            &:after {
                transform: scale(0.5);
                background: $pointColor;
            }
        }
        
    }
}

.ui-checkbox {
    > input {
        @include ui_input;
        & + label {
            position: relative;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 10px 10px 30px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                left: 0;
                border-radius: $cpRadius;
                border: 1px solid $uiBorderColor;

            }
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: 6px;
                width: 8px;
                height: 8px;
                margin-top: -4px;
                transform-origin: 50%;
                transform: rotate(-45deg) scale(0);
                transition: none;
            }
        }
        &:disabled + label {
            opacity: 0.4;
            pointer-events: none;
        }
        &:not(:disabled):hover + label {
            &:before {
                border: 1px solid #999;
            }
        }
        &:checked + label {
            &:before {
                border: 1px solid $pointColor;
            }
            &:after {
                background-color: transparent;
                top: 50%;
                left: 5px;
                width: 11px;
                height: 7px;
                margin-top: -5px;
                border-style: solid;
                border-color: $pointColor;
                border-width: 0 0 3px 3px;
                transform: rotate(-45deg) scale(1);
                transition: transform 0.2s ease-out;
            }
        }
    }
}

.ui-input {
    display: inline-block;
    width: 100%;
    input[type='text'], input[type='email'], input[type='password'] {
        display: block;
        width: 100%;
        border: 1px solid $uiBorderColor;
        border-radius: $cpRadius;
        background-color: #fff;
        padding: 10px 20px;
        color: #495057;
        &:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
        &::placeholder {
            color: #90959a;
        }
        &:not(:disabled):focus{
            border: 1px solid #6f8bbb;

        }
    }
}

.ui-input-combine {
    display: flex;
    position: relative;
    > .ui-input {
        input {

            padding: 10px 60px 10px 20px;
        }
    }
    > .ui-btn {
        position: absolute;
        right: 0;
    }
}

.ui-switch {
    display: inline-block;
    &.basic {
        > input[type="checkbox"]{
            & + label {
                width: 50px;
                &:before {
                    content: "";
                }
                &:after {
                    content: "";
                }
            }
            &:disabled + label{
                opacity: 0.4;
                pointer-events: none;
            }
            &:not(:disabled):checked + label {
                > .round {
                    transform: translate(27px, -50%);
                }
            }
        }
    }
    > .text {
        display: inline-block;
        margin-right: 5px;
        transform: translate(0, -50%);
    }
    > input[type="checkbox"] {
        @include ui_input;
        & + label {
            position: relative;
            display: inline-block;
            cursor: pointer;
            width: 60px;
            height: 26px;
            border-radius: 25px;
            background: $uiBorderColor;
            margin: 0 2px;
            &:before, &:after {
                position: absolute;
                color: #fff;
            }
            &:before {
                content: "OFF";
                top: 6px;
                right: 6px;
            }
            &:after {
                content: "ON";
                display: none;
                top: 6px;
                left: 10px;
            }
            > .round {
                position: absolute; 
                display: block;
                width: 18px;
                height: 18px;
                top: 50%;
                transform: translate(4px, -50%);
                border-radius: 50%;
                background: #fff;
                transition: all 0.2s ease-out;
            }
        }
        &:checked + label {
            background: $pointColor;
            
            &:before {
                display: none;
            }
            &:after {
                display: block;
            }
            > .round {
                background: #f5f5f5;
                transform: translate(36px, -50%);
            }
        }
    }
}

.ui-textarea{
    > textarea {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid $uiBorderColor;
        height: auto;
        
        &:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
        &::placeholder {
            color: #90959a;
        }
        &:focus{
            outline: 0;
            border: 1px solid #6f8bbb;

        }
    }
}