.ui-input-group {
    display: flex;
    width: 100%;
    input[type='text'], input[type='email'], input[type='password'] {
        display: block;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: $cpRadius;
        background-color: #f4f7fa;
        padding: 10px 20px;
        color: #495057;
    }
}

.ui-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid transparent;
    background: #f2f2f2;
    color: #37474f;
    border-radius: $cpRadius;
    box-shadow: $cpShadow;
    &:disabled{
        opacity: 0.4;
    }
    &:not(:disabled){
        cursor: pointer;
    }

    &.btn-primary{
        color: #fff;
        background: #04a9f5;
        border: 1px solid #04a9f5;
    }
}